## 今天我们来录个加载大型数据集的视频

In [1]:
import pandas as pd
import os

In [3]:
print ('csv文件大小: %5.2f'%(os.path.getsize("d://action.csv")/1024/1024),'MB')

csv文件大小: 572.79 MB

In [5]:
def read_csv(filename,chunksize):
    data = pd.read_csv(filename,sep=',',engine='python',iterator=True)
    loop = True
    chunksize = chunksize
    chunks = []
    while loop:
        try:
            chunk = data.get_chunk(chunksize)
            chunks.append(chunk)
        except StopIteration:
            loop = False
            print ("Iteration is Stopped")
    print ("Start Concat")
    return pd.concat(chunks,ignore_index=True)

In [6]:
df = read_csv("d://action.csv",chunksize=1024*1024*1024)

Iteration is Stopped
Start Concat

In [7]:
df.head()

    user_id  sku_id                 time  model_id  type  cate  brand
0  287842.0   75018  2016-03-31 23:59:01      14.0     6     9    630
1  208266.0   31662  2016-03-31 23:59:04       NaN     1     8    545
2  209390.0  118799  2016-03-31 23:59:05     111.0     6     8    244
3  237311.0    5825  2016-03-31 23:59:05       NaN     1     8    885
4  257651.0  128104  2016-03-31 23:59:05       NaN     1     4    300

In [8]:
df.shape

(13199934, 7)

# 一千三百万行记录，2分钟加载完毕，不会出现内存溢出的情况